body {
  background-color: black
}
main {
  width: 600px;
  height: 720px;
  margin: auto;
  background-color: #78a5d0;
  overflow: hidden;
}
#l1 {
  width: 1.5px;
  height: 200px;
  background-color: black;
  position: relative;
  top: 5px;
  left: 140px;
  transform: rotate(55deg);                
}
#l2 {
  width: 3px;
  height: 240px;
  background-color: black;
  position: relative;
  top: -170px;
  left: 200px;
  transform: rotate(-35deg);
  z-index: 1;   
  transition: 0.5s;                            
}
#l2:active{                                                    /* #l2:active -> when the object is clicked */
  width: 10px;
  height: 260px;
  background-color: #1571bc;
  left: 260px;
  transform: rotate(35deg);
}
#r1 {
  width: 120px;
  height: 180px;
  background-color: #e7c775;
  position: relative;
  top: -330px;
  left: 110px;
  transform: rotate(55deg);
  transition: 1s;                                              /* transition: 1s */ 
}
#r1:hover {                                                    /* #r1:hover -> Activated when a user moves the mouse over an element. */      
  background-color: #e88b38;  
  width: 100px;                                                     
  height: 160px;  
  transition-timing-function: ease-in-out;                     /* transition-timing-function -> Specifies the speed curve of the transition effect */
}
#r2 {
  width: 80px;
  height: 120px;
  background-color: #49244b;
  position: relative;
  top: -350px;
  left: 100px;
  transform: rotate(-12deg);
  transition: 0.5s;                                            /* transition: 0.5s */        
  transition-duration: 2s;                                     /* transition-duration -> How long is the transation */  
}
#r2:active {
  background-color: #1571bc;
  width: 200px;
  height: 160px;     
  mix-blend-mode: difference;                                  /* mix-blend-mode = difference -> Subtracts the top layer from the bottom layer, resulting in a higher contrast (negative-effect) */
}
#r3 {
  width: 60px;
  height: 80px;
  background-color: #e7c775;
  position: relative;
  top: -340px;
  left: 170px;
  transform: rotate(-12deg); 
  transition: 0.5s;   
  animation-name: rotate-rectangle;   
  animation-delay: 0s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;    
}
@keyframes rotate-rectangle {                                          
  0% {
    transform: rotate(0deg);                                   /* transform: rotate(0deg) -> object not rotate */              
  }
  100% {                                                      
    transform: rotate(360deg);                                 /* transform: rotate(360deg) -> object rotate 360 degrees */             
  }
}
#r3:hover {
  background-color: #e88b38;
  width: 40px;
  height: 60px;     
  transition-timing-function: ease-in-out;                   
}
#r4 {
  width: 140px;
  height: 380px;
  background-color: #e88b38;
  position: absolute;
  top: 80px;
  left: 840px;
  z-index: 1;
}
#r5 {
  width: 140px;
  height: 250px;
  background-color: #49244b;
  position: absolute;
  top: 40px;
  left: 890px;
  z-index: -0.5;
  transition: 0.5s;
  /*transition: 3s;*/                                          /* transition: 3s -> The transition effect is lower than the default value */
  transition-property: width, height;                          /* transition-property -> Specifies the name of the CSS property the transition effect is for */                     
}
#r5:hover {
  background-color: #e7c775;
  width: 160px;
  height: 270px;
  transition-timing-function: ease-in-out;
  mix-blend-mode: difference;                                  /* mix-blend-mode = difference -> Negative-effect */
  z-index: 2;
}
#circle {
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: 725px;
  z-index: 2;                               
  opacity: 45%;
  animation-name: animating-circle;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: 6px 6px 5px rgb(106, 109, 110);               /* box-shadow -> Adds shadow to the object */
}
@keyframes animating-circle {                                 /* @keyframes animating-circle -> enlarges the circle */
  0% {
    transform: translate(-25%, -25%) scale(1);                /* transform: translate(-25%, -25%) scale(1) -> Circle enlarges from the centre */
    width: 300px;
    height: 300px;
    box-shadow: none;
  }
  100% {
    width: 180px;
    height: 180px;
  }
}
#circle:active{
  animation-play-state: paused;                               /* animation-play-state: paused -> Pauses the animation */               
}
#r6 {
  width: 15px;
  height: 170px;
  background-color: #1571bc;
  position: absolute;                       
  top: 355px;
  left: 970px;
  z-index: 1;
  animation: move1 3s;
  animation-fill-mode: forwards;                              /* animation-fill-mode: forwards -> The element will retain the style values that is set by the last keyframe */
}
@keyframes move1 {                                            /* @keyframes move1 -> Moves the object to define position */
  0% {
    top: 355px;
  }
  100% {
    background-color: #e88b38;
    top: 495px;
    z-index: 5;
  }
}
#r7 {
  width: 15px;
  height: 160px;
  background-color: #49244b;
  position: absolute;
  top: 410px;
  left: 865px;
  transform: rotate(90deg);         
  animation: move2 3s;
  animation-fill-mode: forwards;  
}
@keyframes move2 {
  0% {
    left: 865px;
  }
  100% {
    background-color: #1571bc;
    left: 945px;
  }
}
#r8 {
  width: 140px;
  height: 220px;
  background-color: white;
  position: absolute;
  top: 470px;
  left: 468px;
  opacity: 45%;
  transition: 2.5s;                                         /* transition: 2.5s -> The transition effect is lower than the default value */
}
#r8:hover {
  background-color: #49244b;
  width: 160px;
  height: 240px;
  opacity: 100%;
  filter: grayscale(20%);                                   /* filter: grayscale(20%) -> Converts the object to grayscale */
  mix-blend-mode: luminosity;                               /* mix-blend-mode: luminosity -> The luminosity value of the top layer is used to determine the resulting color */
  transition-delay: 0.5s;
}
#r9 {
  width: 220px;
  height: 100px;
  background-color: #1571bc;
  position: absolute;
  top: 520px;
  left: 560px;
  transition: 0.5s;
}
#r9:active{
  background-image: linear-gradient(to right, #1571bc, #e7c775);      /* background-image: linear-gradient -> Creates a linear gradient */
  width: 280px;
}
#r10 {
  width: 160px;
  height: 80px;
  background-color: #e7c775;
  position: absolute;
  top: 560px;
  left: 820px;
  z-index: -0.5;
  transition: 0.5s;
  transition-duration: 2s;
}
#r10:active{
  width: 200px;
  height: 100px;
  filter: blur(5px);                                         /* filter: blur(5px) -> Adds a blur effect to the object */
  mix-blend-mode: darken;                                    /* mix-blend-mode: darken -> The color of the top layer is blended with the color of the bottom layer to produce a darker color */
}
#r11 {
  width: 250px;
  height: 30px;
  background-color: #49244b;
  position: absolute;
  top: 660px;
  left: 660px;
  animation: move3 3s;
  animation-fill-mode: both;                                /* animation-fill-mode: both -> The element will retain the style values that is set by the first keyframe */
}
@keyframes move3 {                                                        
  0% {
    left: 660px;
  }
  100% {
    left: 780px;
  }
}
#l3 {
  width: 1.5px;
  height: 150px;
  background-color: black;
  position: absolute;
  display: flex;
  top: 510px;
  left: 570px;
  transform: rotate(45deg);
  z-index: 1;
}
#l4 {
  width: 1.5px;
  height: 200px;
  background-color: black;
  position: absolute;
  display: none;                           
  top: 500px;
  left: 580px;
  transform: rotate(45deg);
  z-index: 1;
}
#l5 {
  width: 1.5px;
  height: 200px;
  background-color: black;
  position: absolute;
  display: flex;
  top: 520px;
  left: 640px;
  transform: rotate(45deg);
  z-index: 1;
}
#l6 {
  width: 1.5px;
  height: 180px;
  background-color: black;
  position: absolute;
  display: flex;
  top: 500px;
  left: 640px;
  transform: rotate(-45deg);                
  z-index: 1;
}
#l7 {
  width: 1.5px;
  height: 180px;
  background-color: black;
  position: absolute;
  display: flex;
  top: 520px;
  left: 570px;
  transform: rotate(-45deg);
  z-index: 1;
}
#r12 {
  width: 25px;
  height: 300px;
  background-color: white;
  position: absolute;                       
  display: flex;
  top: 400px;
  left: 1005px;
  opacity: 45%;
  animation: move4 3s;
  animation-fill-mode: forwards;    
}
@keyframes move4 {
  0% {
    top: 400px;
  }
  100% {
    top: 100px;
    background-color: #e7c775;
    opacity: 100%;
  }
}
