body{
    background-color:bisque;
    margin: 0;
}
article{
    background-color: white;
    width: 800px;
    margin:auto;
    padding: 40px;
}
div.image {
    width: 200px;
    height: 200px;
    background-image: url(images/smiley.jpg);
    background-size: cover;
}
div#image_1{
    float: right;                                               /* float the image only to the left or right */
    margin: 20px;
}
div#image_2{
    float: left;                                                /* float the image only to the left or right */
    margin: 20px;
    clear: right;                                               /* clear is used to prevent the image from floating to the left or right */  
}
/* common class for clearing make sure the next element is not affected by the float */
.clearle{
    clear: left;
}
.clearright{
    clear: right;
}
.clear{
    clear: both;
}
