body {
    background-color: #e2dbc4;
    margin-top: 15vh;
}
#board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    align-items: start;
    flex-wrap: wrap; 
}
.pin {
    position: relative;                               
    width: 25vw;
    height: 25vw;
    border-radius: 1vw;
    padding: 1vw;
    border-radius: 0;
}
.pin .title {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1.7em;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.pin img {
    width: 35vh;
    height: auto;
}
#pin1 {
    background-color: #111022;
    width: 25vw;
    height: 40vw;
}
#pin1 img {
    width: 25vw;
    height: auto;
}
#pin1 .title {
    color: white;
    font-size: 1.3em;
    position: relative;
    float: right;
    margin-top: -10vh;
    margin-right: 1vw;
    letter-spacing: 0.1em;
    direction: rtl;
    z-index: 1;
}
#pin2 img {
    width: 25vw;
    height: auto;
    margin-top: -3vh;
}
#pin2 .title {
    font-size: 1.7em;
    position: relative;
    text-align: center;
    z-index: 1;
}
#pin3 {
    display: contents;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pin3 img {
    width: 40vh;
    margin-bottom: 0.2vw; 
    margin-left: -1vw;
}
#pin3 .title {
    font-size: 1.8rem;
    letter-spacing: 0.45em;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 0.5vw; 
}
#pin4 {
    font-family: 'Kosugi Maru', sans-serif;
    background-color: #af1b27;
    margin-left: 30vw;
    margin-top: -31vh;
    width: 48vw;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
#pin4 .title {
    font-weight: bolder;
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.405);
    filter: blur(5px);
    position: absolute;
}
#pin4 .title_in_englisch {
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    position: absolute;
    letter-spacing: 0.1em;
}
#pin5 {
    display: contents;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
#pin5 .title {
    position: relative;
    writing-mode: vertical-lr;
    transform: rotate(360deg);
    font-size: 2rem;
    letter-spacing: 0.07em;
}
#pin5 img {
    width: 20vw;
    margin-left: 2vw;
}
#pin6 .title {
    color: white;
    font-size: 2.5em;
    padding-bottom: 2vw;
    line-height: 3.5rem;
    letter-spacing: 0.02em;
}
#pin6{
    background-color: black;
    height: 57vh;
}
#pin6 img {
    width: 25vw;
}
#pin7 img {
    margin-top: -2vh;
    width: 25vw;
    height: auto;
    float: left;
    margin-left: -1vw;
}
#pin7 .title{
    font-size: 1rem;
    margin-left: -1vw;
}
#box {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%;
    margin-right: 0; 
    margin-left: 6vw ;
}
#pin8 {
    position: relative;                               
    width: 25vw;
    height: 25vw;
    border-radius: 1vw;
}
#pin9 {
    position: relative;                               
    width: 25vw;
    height: 25vw;
    border-radius: 1vw;
    margin-left: -8vw;
}
#pin10 {
    position: relative;                               
    width: 25vw;
    height: 25vw;
    border-radius: 1vw;
    margin-left: -10vw;
}
#pin9 img, #pin10 img {
    width: 15vw;
    height: 45vh;
}
#pin8 .title, #pin9 .title, #pin10 .title{
    font-size: 1.5rem;
}
#pin11 {
    background-color: black;
    color: white;
    padding: 2.5vw;
    width: 20vw;
    height: auto;
    font-size: 2rem;
    margin-top: -20vw;
    margin-left: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
