* {
  /*reset = to clear all default styles*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*typography presets*/
  font-family: "Abel", serif;
  font-size: 20px;
  font-weight: lighter;
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}
header {
  background-color: #a01f19;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  padding-top: 2vw;
  width: 100%;
}
/*---------- Navigation Bar ----------*/
.nav1 .menu1 {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8vw;
}
.nav1 a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.nav1 a:hover {
  color: #ffb81c;
  font-size: 1.5rem;
  font-weight: bold;
}
.nav2{
  display: none;
}
#ketchup {
  font-family: "Denk One", sans-serif;
  font-size: 3rem;
}
#ketchup:hover {
  color: white;
  font-size: 3rem;
}
/* ----------- Flex Container/Sections ----------- */
.flex-container {
  display: flex;
  flex-direction: row;
  text-wrap: wrap;
}
#section1 {
  background-color: #a01f19;
}
#section2,
#section5 {
  background-color: #ffb81c;
}
#section3,
#section4 {
  background-color: #302c2c;
}
#hr_section4 {
  opacity: 0;
  margin-top: -10vw;
}
/*----------- Title ----------- */
.title {
  transition: 0.5s;
  text-wrap: nowrap;
}
.title:hover {
  font-size: 3rem;
  text-wrap: nowrap;
}
h1 {
  font-family: "Denk One", sans-serif;
  font-size: 2rem;
  padding-bottom: 3vw;
  text-transform: uppercase;
}
b {
  font-size: 4rem;
  transition: 0.5s;
}
b:hover {
  font-size: 5rem;
  text-wrap: nowrap;
}
/*----------- Text ----------- */
p {
  line-height: 1.5rem;
}
.text {
  position: relative;
  color: white;
  width: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#text1 {
  margin-top: 5vw;
  margin-left: 5vw;
}
#text2 {
  position: absolute;
  margin-top: 15vw;
  margin-left: 10vw;
  float: left;
  color: #302c2c;
}
#text3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 28vw;
  margin-top: 10vw;
  margin-left: 35vw;
  position: absolute;
}
#text4 {
  position: absolute;
  margin-left: 10vw;
  float: left;
  margin-top: 10vw;
}
#text5 {
  position: absolute;
  margin-top: 5vw;
  margin-left: 10vw;
  float: left;
  color: #302c2c;
}
#text6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
  position: absolute;
  margin-top: 10vw;
  margin-left: 60vw;
  color: white;
  font-weight: lighter;
  line-height: 2vw;
  text-transform: uppercase;
}
h2 {
  margin-bottom: 1.5vw;
}
li {
  list-style-type: none;
}
li:hover {
  color: #a01f19;
  font-weight: bold;
}
/*----------- Images ----------- */
.bottle1 {
  width: 35%;
  margin-left: 10vw;
  margin-top: -4vw;
}
.bottle2 {
  position: relative;
  width: 35%;
  margin-left: 56vw;
}
.ketchup1 {
  position: absolute;
  width: 47.2%;
  margin-left: 50vw;
}
.ketchup2 {
  width: 65%;
  margin-left: -20vw;
}
.ketchup3 {
  width: 60%;
  height: 60%;
  margin-left: 10vw;
  margin-top: 2vw;
}
.ketchup4 {
  width: 42%;
  margin-left: 60vw;
  margin-top: -5vw;
}
.sauces {
  width: 100%;
  margin-top: 15vw;
}
/*----------- Links ----------- */
a {
  text-decoration: none;
}
.link1 {
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
.link2 {
  color: #302c2c;
  font-weight: bold;
  transition: 0.5s;
}
.link2:hover,
.link1:hover {
  color: #a01f19;
  font-size: 1.4rem;
}
/*----------- Footer ----------- */
footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #a01f19;
  height: 12vw;
  gap: 1vw;
}
#ketchup_footer {
  font-family: "Denk One", sans-serif;
  font-size: 3rem;
  color: white;
}
#wikipedia {
  color: white;
  font-weight: bold;
  transition: 0.5s;
}
#wikipedia:hover {
  font-size: 1.2rem;
}


/*----------- Media Queries ----------- */
@media screen and (max-width: 1300px) {
  html {
    font-size: 18px;
    overflow-x: hidden;
  }
  /*----------- Flex Container/Sections ----------- */
  #hr_section4 {
    opacity: 0;
    margin-top: -1vw;
    padding-top: 5vw;
  }
  /*----------- Navigation Bar ----------- */
  .nav1 a {
    font-size: 1.5rem;
  }
  #ketchup {
    font-size: 3.5rem;
  }
  /*----------- Text ----------- */
  .text {
    font-size: 1.3rem;
  }
  p {
    line-height: 1.8rem;
    font-weight: lighter;
    width: 38vw;
  }
  #text2{
    margin-top: 10vw;
  }
  #text4{
    margin-top: 10vw;
  }
  #text5{
    margin-top: 10vw;
  }
  h2 {
    line-height: 3vw;
    font-size: 1.5rem;
  }
  li {
    line-height: 2.2vw;
    font-size: 1rem;
  }
  /*----------- Images ----------- */
  .ketchup2 {
    width: 55%;
    margin-left: -18vw;
  }
  .ketchup3 {
    position: absolute;
    width: 45%;
    height: 70%;
    margin-left: 55vw;
    margin-top: 20vw;
  }
  .ketchup4 {
    width: 50%;
    margin-top: -10vw;
    margin-left: 60vw;
  }
  .sauces {
    width: 90%;
    margin-top: 30vw;
    margin-left: 5vw;
  }
  /*----------- Footer ----------- */
  footer {
    padding-top: 3vw;
  }
}
@media screen and (max-width: 1200px) {
  html{
    font-size: 16px;
    overflow-x: hidden;
  }
  header{
    height: 18vh;
  }
  /*----------- Text ----------- */
  #text2 {
    margin-top: 12vw;
  }
}
@media screen and (max-width: 1100px){
  html{
    font-size: 14px;
    overflow-x: hidden;
  }
  /*----------- Text ----------- */
  p{
    width: 40vw;
  }
  #text2 {
    margin-top: 12vw;
  }
  .ketchup4 {
    width: 45%;
    margin-left: 65vw;
  }
  .sauces {
    margin-top: 25vw;
  }
  /*----------- Footer ----------- */
  footer{
    height: 20vh;
  }
}
@media screen and (max-width: 901px){
  html{
    font-size: 12px;
    overflow-x: hidden;
  }
  header{
    height: 12vh;
  }
  /*----------- Text ----------- */
  p{
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  #text2 {
    margin-top: 13vw;
  }
  /*----------- Images ----------- */
  .ketchup3 {
    position: absolute;
    width: 45%;
    height: 60%;
    margin-left: 55vw;
    margin-top: 15vw;
  }
  /*----------- Footer ----------- */
  footer{
    height: 18vh;
  }
}
@media screen and (max-width: 851px){
  html{
    font-size: 10px;
    overflow-x: hidden;
  }
  /*----------- Images ----------- */
  .ketchup3 {
    position: absolute;
    width: 40%;
    height: 50%;
    margin-left: 60vw;
    margin-top: 15vw;
  }
  .ketchup4 {
    width: 40%;
    margin-left: 65vw;
  }
  .sauces {
    margin-top: 20vw;
  }
  /*----------- Footer ----------- */
  footer{
    height: 14vh;
  }
}
@media screen and (max-width: 581px){
  html{
    font-size: 8px;
    overflow-x: hidden;
  }
  /*----------- Images ----------- */
  .ketchup3 {
    position: absolute;
    width: 40%;
    height: 35%;
    margin-left: 60vw;
    margin-top: 15vw;
  }
  .sauces {
    margin-top: 25vw;
  }
  /*----------- Footer ----------- */
  footer{
    height: 12vh;
  }
}
@media screen and (max-width: 451px){
  html{
    font-size: 6px;
    overflow-x: hidden;
  }
  header{
    height: 50vh;
  }
  /*----------- Flex Container/Sections ----------- */
  .flex-container {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #section5{
    display: flex;
    flex-direction: column;
  }
  #hr_section4{
    opacity: 0;
    margin-top: -5vw;
  }
  /*----------- Navigation Bar ----------- */
  .nav1{
    display: none;
  }
  .nav2{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .nav2 a{
    color: white;
    font-size: 4rem;
    line-height: 12vw;
  }
  .nav2 a:hover{
    color: #ffb81c;
    font-size: 4.5rem;
  }
  /*----------- Title ----------- */
  .title{
    margin-left: -28vw;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  #text1 b{
    margin-bottom: -4vw;
  }
  b{
    margin-top: 10vw;
    font-size: 10rem;
    margin-left: 15vw;
  }
  h1{
    text-align: center;
    font-size: 4.5em;
  }
  /*----------- Text ----------- */
  p{
    margin-left: -28vw;
    width: 80vw;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 15vw;
  }
  #text1{
    text-align: center;
  }
  #text2{
    position: relative;
    margin-top: 15vw;
    z-index: 1;
  }
  #text3 b{
    margin-left: -5vw;
    margin-top: 10vw;
  }
  #text3 p{
    width: 85vw;
    margin-left: -35vw;
  }
  #text3{
    position: absolute;
    z-index: 2;
    margin-top: -18vw;
    text-align: center;
    align-items: center;
  }
  #text4 b{
    margin-left: -1vw;
    margin-bottom: -10vw;
  }
  #text4{
    margin-top: -30vw;
    position: absolute;
    z-index: 1;
  }
  #text5{
    position: relative;
    margin-top: 20vw;
  }
  #text6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    position: absolute;
    line-height: 2vw;
  }
  #text6 h2{
    font-size: 4em;
    text-wrap: nowrap;
    margin-left: -60vw;
    margin-top: 60vw;
    line-height: 6rem;
  }
  #text6 ul{
    margin-left: -60vw;
    margin-top: 2vw;
  }
  #text6 li{
    font-size: 3rem;
    text-wrap: nowrap;
    line-height: 5rem;
  }
  /*----------- Images ----------- */
  .bottle1{
    width: 70%;
    margin-left: 2vw;
  }
  .bottle2{
    width: 68%;
    margin-left: 5vw;
    margin-top: -102vw;
    opacity: 32%;
  }
  .ketchup1{
    width: 86.5%;
    margin-left: 1vw;
    margin-top: 0.2vw;
    opacity: 32%;
  }
  .ketchup2{
    position: relative;
    width: 100%;
    margin-left: -70vw;
    opacity: 30%;
  }
  .ketchup3{
    position: relative;
    width: 100%;
    margin-left: 60vw;
    margin-top: -60vw;
    opacity: 30%;
  }
  .ketchup4{
    width: 80%;
    margin-left: -70vw;
    margin-top: -30vw;
    transform: scaleX(-1);
    opacity: 30%;
  }
  .sauces{
    width: 100%;
    margin-top: 50vw;
    margin-left: 0vw;
  }
  /*----------- Footer ----------- */
  footer {
    color: white;
    height: 30vw;
    font-size: 4rem;
    padding-top: 20vw;
  }
  footer p{
    margin-left: 5vw;
  }
  #ketchup2{
    color: white;
    font-family: "Denk One", sans-serif;
    font-size: 10rem;
  }
  #ketchup_footer{
    color: white;
    font-family: "Denk One", sans-serif;
    font-size: 6rem;
    margin-left: 5vw;
  }
  #wikipedia {
    color: white;
    font-weight: bold;
    transition: 0.5s;
  }
}
@media screen and (max-width: 321px){
  html{
    font-size: 4px;
    overflow-x: hidden;
  }
  header{
    height: 90vw;
  }
  /*----------- Images ----------- */
  .ketchup1{
    width: 83%;
  }
  .ketchup3{
    width: 80%;
  }
  .ketchup4{
    width: 70%;
    margin-top: 10vw;
  }
}
@media screen and (max-width: 251px){
  html{
    font-size: 3px;
    overflow-x: hidden;
  }
  header{
    height: 80vw;
  }
  /*----------- Images ----------- */
  .bottle2{
    width: 65%;
    margin-left: 5vw;
    margin-top: -90vw;
    opacity: 32%;
  }
  .ketchup1{
    width: 88%;
  }
}
@media screen and (max-width: 151px){
  html{
    font-size: 2px;
    overflow-x: hidden;
  }
  header{
    height: 75vw;
  }
  /*----------- Images ----------- */
  .bottle2{
    width: 62%;
    margin-left: 5vw;
    margin-top: -90vw;
    opacity: 32%;
  }
  .ketchup1{
    width: 90%;
  }
}
