main{
    width: 600px;
    height:720px;
    margin:auto;
}
#rectangle_1{
    width: 100px;
    height: 160px;
    background-color: aqua;
    position: relative;
    left: 120px;
    top: 50px;
    transform: rotate(45deg);
}
#rectangle_2{
    width: 80px;
    height: 200px;
    background-color: brown;
    position: relative;
    left: 80px;
    top: 10px;
    z-index: 1;
    transform: rotate(45deg);
}
#rectangle_3{
    width: 70px;
    height: 100px;
    background-color: blueviolet;
    position: relative;
    left: 150px;
    top: 5px;
    transform: rotate(-20deg);
}
#line_1{
    width: 3px;
    height: 180px;
    background-color: black;
    position: relative;
    left: 130px;
    top: 20px;
    transform: rotate(45deg);
}
#line_2{
    width: 3px;
    height: 240px;
    background-color: black;
    position: relative;
    left: 200px;
    top: -150px;
    transform: rotate(-45deg);
    z-index: 1;
}
#rectangle_4{
    width: 120px;
    height: 350px;
    background-color: coral;
    position: relative;
    top:-280px;
    left: 360px;
    z-index: 1;
}
#rectangle_5{
    width: 140px;
    height: 250px;
    background-color:cornflowerblue;
    display: flex;
    position: relative;
    top:-680px;
    left: 400px;
}
#circle{
    width: 600px;
    height: 600px;
    clip-path: ellipse(100% 50% at 50% 50%);
    background: conic-gradient(darkgreen 0deg 180deg, transparent 90deg 360deg);
    transform: rotate(180deg);
    display: flex;
    position: relative;
    border-radius: 50%;
    top: -1050px;
    left: 240px;
    z-index: -0.5;
    opacity: 20%;
}
.group_R3{
    position: absolute;
    display:inline
}
#rectangle_6{
    width: 140px;
    height: 180px;
    background-color: crimson;
    display: flex;
    position: relative;
    top:-450px;
}
#rectangle_7{
    width: 220px;
    height: 100px;
    background-color: rgb(29, 158, 74);
    display: flex;
    position: relative;
    top:-600px;
    left: 80px;
}
#rectangle_8{
    width: 200px;
    height: 30px;
    background-color: rgb(44, 29, 158);
    display: flex;
    position: relative;
    top:-600px;
    left: 340px;
}