body{
    background-color: black;
}
main{
    width: 600px;
    height:800px;
    margin:auto;
    display: flex;
    background-color: white;
}
#r1{
    width: 120px;
    height: 180px;
    background-color: aqua;
    position: relative;
    top: 130px;
    left: 120px;
    transform: rotate(55deg);
}
#r2{
    width: 80px;
    height: 140px;
    background-color: blueviolet;
    position: relative;
    top: 250px;
    left: 10px;
    transform: rotate(-15deg);
}
#r3{
    width: 60px;
    height: 110px;
    background-color: rgb(43, 226, 89);
    position: relative;
    top: 410px;
    left: -40px;
    transform: rotate(-15deg);
}
#l1{
    width: 3px;
    height: 200px;
    background-color: black;
    position: relative;
    top: 40px;
    left: 120px;
    transform: rotate(55deg);
}
#l2{
    width: 3px;
    height: 240px;
    background-color: black;
    position: relative;
    top: 50px;
    left: 210px;
    transform: rotate(-35deg);
    z-index: 1;
}